@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: max(13px, 1vmax);
}

.leaflet-tooltip {
  background-color: #6d5bbe !important;
  box-shadow: 0 4px 25px 0 #6d5cba !important;
  font-family: Poppins;
  padding: 2rem 3rem 2rem 2rem !important;
  border-radius: 0.5rem !important;
  border: none !important;
}

.leaflet-tooltip-bottom::before {
  border-bottom-color: #6d5bbe !important;
}

.leaflet-tooltip-top::before {
  border-top-color: #6d5bbe !important;
}

.leaflet-tooltip-left::before {
  border-left-color: #6d5bbe !important;
}

.leaflet-tooltip-right::before {
  border-right-color: #6d5bbe !important;
}

.textEditor {
  min-height: 200px;
  font-family: 'Sans Serif', Arial, sans-serif;
}
